.body{
    background: #F9F9F9;

}
.MobileHeader{
    display: none;
}
.dashboardContainer{
overflow: hidden;
}
.bannerText1{
    font-size: 30px;
    color: white;
    margin-top: 70px;


}
.bannerText2{
    font-size: 24px;
    color: white;
    margin-top: 10px;
    margin-bottom: 40px;

}
.bannerText3{
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 1;



}
.Section1{
    // background-image: linear-gradient(to bottom, rgb(104 105 110 / 52%), rgb(29 29 30)),
        background-image:
        linear-gradient(to bottom, rgba(35, 35, 36, 0.52), rgba(54, 46, 46, 0.89)),
        url('../../Images/Dashboard/banner.jpg');
        width: 100%;
        background-size: cover;
        color: white;
        padding: 20px;
        height: 100%;

}
.bannerImg{
    position: absolute;
    top: 0px;
    z-index: -1;
    left: 0px;
    height: 100%;

}
.img_overlay {
    overflow: hidden;
    position: absolute;
    top: 0px;
    z-index: -1;
    left: 0px;
    height: 100%;
}

.img_overlay:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.4);        
    z-index: 2;
}

.bannerCard{
    height: 134px;
    background: white;
    border-radius: 80px;
    margin-top: 10%;
    padding: 40px 15px;
    margin-bottom: 25px;


}
.bannerCardText{
    font-size: 17px;
    color: #171717;
}
.staric{
     color: red;
}
.bannerCardSelect{
    height: 53px;
    width: 100%;
    color: #686868;
    font-size: 14px;
    border-radius: 28px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #707070;
}
.bannerCardBtn{
    height: 53px;
    width: 100%;
    font-size: 16px;
    border-radius: 28px;
    
    background-color: #22577A;
    color: #FFFFFF;
    border: none;
}

.Section2{
    padding-top: 30px;
    background: #F9F9F9;
        .heading{
        font-size: 24px;
        color: #3E3E3E;

    }
    .text{
        font-size: 20px;
        line-height: 1.2;
        color: #3E3E3E;

    }
    .text1{
        font-size: 18px;
        line-height: 1.3;
        color: #3E3E3E;
    }
   
      .Section2Card{
height: 252px;
background: white;
border-radius: 24px;
width: 100%;
margin-top: 40px;
padding: 40px;
}
      .Section2CardHeading{
          font-size: 24px;
          color: #3E3E3E;
      }
      .Section2CardText{
        font-size: 18px;
        color: #3E3E3E;
    }
    .h82{
        height: 82%;
    }
}
.Section3{
    padding-top: 30px;
    background: #F9F9F9;
    color: #3E3E3E;
    .heading{
        font-size: 24px;
    }
    .text{
        font-size: 17px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .section3img{
        height: 75%;

    }

}
.Section4{
    background-color: #f9f9f9;
    z-index: -1;

    .section4card{
        padding: 30px;
    color: #FFFFFF;
    }
    .heading{
        font-size: 30px;
    }
    .text{
        font-size: 18px;
    }
    .section4img{
    position: absolute;
    left: -5%;
    width: 110%;
    z-index: -1;
    height: 86%;

    }
}
.Section5{
    background-color: #f9f9f9;
    padding-top: 30px;

    .heading{
        font-size: 24px;
    }
    .testimonialimg{
        width: 100px !important;
            height: 100px;
            margin-top: -55px;
        
    }
    .testimonialCard{
        margin-top: 35px;
        background: white;
        padding: 20px;
    }
    .heading2{
        font-size: 24px;
        color: #22577A;
        margin-top: 10px;
    }
    .text{
        color: #9FA7B2;
        font-style: italic;
        font-size: 20px;
        margin-top: 20px;

    }
   
}
@media (max-width: 1200px) {

.headerTitle {
    font-size: 10px;
    margin-bottom: 0px;
}
.logo {
    height: 40px;
    width: 182px;
}
}
@media (max-width: 992px) {
    .headerContainer{
        display: none;
    }
    .MobileHeader{
        height: 70px;
        padding: 15px;
        display: block;
    }
    .bannerText1 {
        font-size: 24px;
        margin-top: 70px;
    }
    .bannerText2 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .bannerText3 {
        font-size: 14px;
     
    }
    .bannerCardText {
        font-size: 11px;
    }
    .bannerCardBtn {
      
        font-size: 10px;
    }
    .bannerCard {
        height: 134px;
        background: white;
        border-radius: 80px;
        margin-top: 10%
    }
    .Section2{
         .heading {
        font-size: 20px;
        color: #3E3E3E;
    }
    .text {
        font-size: 15px;
        line-height: 1.2;
        color: #3E3E3E;
    }    
    .text1 {
        font-size: 14px;
    }
    .Section2Card {
        height: 252px;
     
        margin-top: 20px;
    }
    .Section2CardHeading {
        font-size: 20px;
    }
    .Section2CardText {
        font-size: 15px;
        color: #3E3E3E;
    }
    .h82 {
        height: 505px;
    }
}
.Section3{ 
    .text {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}
    .section3img {
        height: 235px;
        margin-top: 20px;
    }
    .heading {
        font-size: 20px;
    }
    
}
.Section4{ 
    .heading {
    font-size: 23px;
}
.text {
    font-size: 13px;
}
}
.Section5{
 .heading2 {
    font-size: 17px;
    color: #22577A;
    margin-top: 10px;
}
.text {
    color: #9FA7B2;
    font-size: 12px;
    margin-top: 9px;
}
.testimonialimg {
    width: 70px !important;
    height: 70px;
    margin-top: -42px;
}
}

}
@media (max-width: 768px) {
   
    .mobileLogo{
            height: 34px;
        
    }
    
    .bannerImg {
        position: absolute;
        top: 0px;
        z-index: -1;
        left: 0px;
        height: 100%;
        object-fit: cover;
    }
    .bannerText1 {
        font-size: 28px;
        margin-top: 70px;
        text-align: center;
    }
    .bannerText2 {
        font-size: 22px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    .bannerText3 {
        font-size: 18px;
        text-align: center;
    }
    .bannerCardSelect {
       
        font-size: 12px;
    }
    .Section2{ 
        .heading {
        font-size: 25px;
        color: #3E3E3E;
        text-align: center;
    }
     .text {
        font-size: 17px;
        line-height: 1.2;
        color: #3E3E3E;
        text-align: center;
    }
    .text1 {
        font-size: 14px;
        text-align: center;
    }
    .Section2Card {
        height: 305px;
        margin-top: 20px;
    }
    .Section2CardHeading {
        font-size: 20px;
        text-align: center;

    }
    .Section2CardText {
        font-size: 15px;
        color: #3E3E3E;
        text-align: center;

    }
    .Section2Card {
        height: 245px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .h82 {
        height: 260px;
        width: 100%;
        object-fit: cover;
    }
}
.Section3 {
    .section3img {
    height: 265px;
    margin-top: 0px;
    object-fit: cover;
}
.heading {
    font-size: 25px;
    text-align: center;
}
 .text {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 15%;
}
}
.Section4{ 
    .heading {
    font-size: 15px;
}
 .text {
    font-size: 10px;
}
}
}

@media (max-width: 576px) {
   
    .headerContainer{
        display: none;
    }
   
    .bannerText1 {
        font-size: 16px;
        margin-top: 60px;
        text-align: center;
    }
    .bannerText2 {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    .bannerCard {
        height: 75%;
        background: white;
        border-radius: 30px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .bannerCardText {
        font-size: 15px;
        text-align: center;
    }
    .bannerText3 {
        font-size: 11px;
        text-align: center;
    }
    .bannerCardSelect {
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .bannerCardBtn{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .Section2{ 
        .heading {
            font-size: 20px;
            color: #3E3E3E;
            text-align: center;
        }
     .text {
            font-size: 14px;
            line-height: 1.2;
            color: #3E3E3E;
            text-align: center;
        
    }
    
    .text1 {
        font-size: 12px;
        text-align: center;
    }
    .Section2Card {
        height: 100%;
        margin-top: 20px;
        margin-bottom: 15px;
        padding: 30px 10px;
    }
    .Section2CardHeading {
        font-size: 15px;
        text-align: center;
    }
    .Section2CardText {
        font-size: 12px;
        color: #3E3E3E;
        text-align: center;
    }
    .bannerCardBtn {
        margin-top: 0px;
        margin-bottom: 0px;
    }
  
    .h82 {
        height: 230px;
        width: 100%;
        object-fit: cover;
        padding: 15px;
        border-radius: 40px;
    }
}
.Section3 {
    .section3img {
        height: 230px;
    margin-top: 0px;
    object-fit: cover;
    border-radius: 0px;
}
.heading {
    font-size: 22px;
    text-align: center;
}
.text {
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0%;
}
}
.Section4{ 
    .heading {
    font-size: 15px;
}
.section4img{
    position: absolute;
    left: 0%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    height: 100%;

}
 .text {
    font-size: 10px;
}
}
.Section5{
    .text {
        color: #696d73;
        font-size: 13px;
        margin-top: 9px;
    }
    .heading2 {
        font-size: 20px;
        color: #22577A;
        margin-top: 10px;
    }
}
}
