.footer{
    padding: 50px;
    background-color: #ffffff

}
.footer_heading{
    font-size: 17px;
}
.footer_text{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: black;
}
.footer_text:hover{
    opacity: 0.8;
    cursor: pointer;
}
.socialmediaDiv{
    margin-top: 20%;
    margin-left: 15%;


}
.socialmediaIcon{
    opacity: 0.4;

}
.socialmediaIcon:hover{
    cursor: pointer;
    opacity: 0.3;
}
.footerBottom{
    height: 44px;
    background-color: #22577A;
    font-size: 14px;
    padding: 15px;
    color: white;
}
@media (max-width: 576px) {
    .socialmediaDiv{
        display: none;
    }
    .footer_heading {
        font-size: 15px;
        margin-top: 30px;
    }
    .footer_text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    }
    .footerBottom{
        height: 60px;
        background-color: #22577A;
        font-size: 10px;
        padding: 23px;
        color: white;
    }
    .hamburger{
        font-size: 25px;
        color: #22577A;
    }
}