.footer{
    padding: 50px;

}
.footer_heading{
    font-size: 17px;
}
.footer_text{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
}
.footer_text:hover{
    opacity: 0.8;
    cursor: pointer;
}
.socialmediaDiv{
    margin-top: 20%;
    margin-left: 15%;


}
.socialmediaIcon{
    opacity: 0.4;

}
.socialmediaIcon:hover{
    cursor: pointer;
    opacity: 0.3;
}
.footerBottom{
    height: 44px;
    background-color: #22577A;
    font-size: 14px;
    padding: 15px;
    color: white;
}