.headerContainer{
    height: 120px;
    padding: 40px 10px;
    background: #ffffff;

}
.Right{
    display: flex;
    justify-content: flex-end;

}
.headerContainerTest{
    height: 120px;
    padding: 40px 10px;
    background: #ffffff;
    box-shadow: 0px 1px 1px 1px #a7a5a5;
}
.headerloginContainer{
    height: 140px;
    padding: 40px 10px;
    background: #fff;

    border-bottom: 20px solid #f9f9f9;
}
.logo {
    height: 58px;
}
.headerTitle{
    font-size: 15px;
    margin-bottom: 0px;
    margin-left: 13px;
    margin-right: 13px;
    color: #000000;
}
.headerTitle:hover{
    opacity: 0.8;
    cursor: pointer;
}
.login_btn{
    height: 40px;
    width: 100%;
    background: white;
    border: 1px solid #22577A;
    border-radius: 22px;
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #22577A;
    text-align: left;
}
.login_btn:hover{
    background: #22577A;
    color: white;
}
.Signup_btn{
    height: 40px;
    width: 100%;
    background: white;
    border: 1px solid #57CC99;
    border-radius: 22px;
    font-size: 11px;
    font-family: 'Poppins';
    font-weight: 700;
    color: #57CC99;
    text-align: left;
}
.Signup_btn:hover{
    background: #57CC99;
    color: white;

}
.vertical_Center{
    margin-top: auto;
    margin-bottom: auto;
}
.login_Icon{
   
    margin-right: 9px;
    margin-left: 11px;

}

.login_header{
    .headerTitle{
        font-size: 16px;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 15px;
        color: black;

    
    }
    .headerTitleDiv{
        height: 54px;
        width: 54px;
        background: #22577A;
        color: white;
        text-align: center;
        border-radius: 50%;
        font-size: 17px;
        font-weight: bold;
        font-family: 'Poppins';
        padding-top: 14px;
    }
    .headerTitleDiv:hover{
        cursor: pointer;
        opacity: 0.9;
    }
    .colapseHeader{
        
    box-shadow: 0px 0px 4px 2px #d5d2d2;
    position: absolute;
    right: 0px;
    z-index: 2;
    top: 76px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px 25px;
    border-bottom: 1px solid #f9f9f9;
    background: #fff;
    text-align: left;

    }
}
.test_header{
    .test_title{
        font-size: 15px;
        color: #22577A;
    }
    .vr{
        position: absolute;
        left: 0px;
        height: 36px;
        margin-top: -4PX;
        border-left: 2px solid #cdc8c8;
    }
    .timmericon{
        height: 17px;
        width: 16px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .countDown{
        color: #9B9A9A;
        font-size: 15px;
    }
    .time{
        font-size: 28px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .leaveCard{
        background: #D48181;
        height: 120px;
        position: absolute;
        right: -11px;
        top: -40px;
        width: 100%;
        text-align: center;
padding: 40px 0px;
font-size: 13px;
    color: white;
    cursor: pointer;
    }
    .leaveCardLearning{
        height: 120px;
        background: #D48181;
        position: absolute;
        right: -11px;
        top: -40px;
        width: 100%;
        text-align: center;
padding: 40px 0px;
font-size: 13px;
    color: white;
    cursor: pointer;

    }
    .leaveCard:hover{
        opacity: 0.9;
    }
    .leaveCardLearning:hover{
        opacity: 0.9;
    }


}
// body{
//     background-color: #F9F9F9 !important;
// }
body{
    overflow-x: hidden;

}
.hamburgericon{
    font-size: 20px;
    color: #38a3a5;
}
.collapseHeader{
    
    background-color: #38a3a5;
    font-size: 20px;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    padding: 15px;
    color: white;

}
.navhr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #fff;
}
.copyright{
    text-align: center;
    font-size: 12px;
    margin-top: 25px;
}
.mobileheaderText{
    color: white;
}
.headerContainerTestMobile{
    display: none;
}
.headerloginContainerMobile{
    display: none;
}
@media (max-width: 992px) {
.headerloginContainer{
    display: none;
}
.headerloginContainerMobile{
    display: block;
    padding: 30px 0px;
}
.login_header .headerTitle {
    font-size: 10px;
    margin-top: 10px;
}
.login_header .headerTitleDiv {
    height: 30px;
    width: 30px;
    background: #22577A;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    font-weight: bold;
    font-family: 'Poppins';
    padding-top: 6px;
    margin-left: auto;
    margin-right: auto;
}
.headerContainerTestMobile{
padding: 20px 0px;
box-shadow: 0px 0px 3px 4px #cbc8c8;
display: block;

}
.headerContainerTestMobile {
    .timmericon{
        margin-top: 10px;
        margin-bottom: 10px;
        height: 18px;
    }
    .headerloginContainer {
        padding: 40px 0px;
    }
    .time {
        font-size: 20px;
    }
    .leaveTest{
        font-size: 16px;
    color: #D48181;
    }
    .leaveTest:hover{
        cursor: pointer;
        opacity: 0.8;
    }
    .quicktest-container .explainationDiv {
        background: #BFE7C4;
        padding: 20px;
        border-radius: 7px;
        font-size: 13px;
    }
    .logo {
        height: 37px;
        width: 150px;
    }

}

}