.OurTeamContainer{
    padding: 25px;
    background: #f9f9f9;
    .heading{
        color: #22577A;
        font-size: 40px;
        text-align: center;
        padding: 40px;
    }
    .text{
        font-size: 15px;
        color: #535353;
    }
}
.MemberImg{
    height: 325px;

}
.BookNowCard1{
    height: 280px;
    width: 100%;
    background-color: #22577A;
    color: white;
    border-radius: 36px;
    padding: 60px 0px 0px 60px;
    .headingg{
        font-size: 36px;
        color: white;

    }
    .textt{
        font-size: 36px;
        color: white;

    }
    .bookNowBtn{
        height: 85px;
        width: 200px;
        font-size: 24px;
        color: #22577A;
        background: white;
        position: absolute;
        right: 15px;
        bottom: 0px;
        border-bottom-right-radius: 36px;
        border-top-left-radius: 36px;
        font-family: 'Poppins';
        font-weight: 500;
        border: none;
        
    box-shadow: 0px 0px 1px 2px #b8b4b4;
    }
    .bookNowBtn:focus{
        outline: none;
    }
    
}

.BookNowCard2{
    height: 280px;
    width: 100%;
    background-color: #38A3A5;
    color: white;
    border-radius: 36px;
    padding: 60px 0px 0px 60px;
    .headingg{
        font-size: 36px;
        color: white;

    }
    .textt{
        font-size: 36px;
        color: white;

    }
    .bookNowBtn{
        height: 85px;
        width: 200px;
        font-size: 24px;
        color: #38A3A5;
        background: white;
        position: absolute;
        right: 15px;
        bottom: 0px;
        border-bottom-right-radius: 36px;
        border-top-left-radius: 36px;
        font-family: 'Poppins';
        font-weight: 500;
        border: none;
        
    box-shadow: 0px 0px 1px 2px #b8b4b4;
    }
    .bookNowBtn:focus{
        outline: none;
    }
    
}

.BookNowCard3{
    height: 280px;
    width: 100%;
    background-color: #52575D;
    color: white;
    border-radius: 36px;
    padding: 60px 0px 0px 60px;
    .headingg{
        font-size: 36px;
        color: white;

    }
    .textt{
        font-size: 36px;
        color: white;

    }
    .bookNowBtn{
        height: 85px;
        width: 200px;
        font-size: 24px;
        color: #52575D;
        background: white;
        position: absolute;
        right: 15px;
        bottom: 0px;
        border-bottom-right-radius: 36px;
        border-top-left-radius: 36px;
        font-family: 'Poppins';
        font-weight: 500;
        border: none;
        
    box-shadow: 0px 0px 1px 2px #b8b4b4;
    }
    .bookNowBtn:focus{
        outline: none;
    }
    
}
.BookNowCard4{
    height: 280px;
    width: 100%;
    background-color: #969696;
    color: white;
    border-radius: 36px;
    padding: 60px 0px 0px 60px;
    .headingg{
        font-size: 36px;
        color: white;

    }
    .textt{
        font-size: 36px;
        color: white;

    }
    .bookNowBtn{
        height: 85px;
        width: 200px;
        font-size: 24px;
        color: #969696;
        background: white;
        position: absolute;
        right: 15px;
        bottom: 0px;
        border-bottom-right-radius: 36px;
        border-top-left-radius: 36px;
        font-family: 'Poppins';
        font-weight: 500;
        border: none;
        
    box-shadow: 0px 0px 1px 2px #b8b4b4;
    }
    .bookNowBtn:focus{
        outline: none;
    }
    
}