.quicktest-container{
    padding: 40px;
.skipQuestion{
    margin-right: 24px;
    color: #7294AA;
    font-size: 15px;
    margin-bottom: 0px;
}
.QuestionTittle{
    font-size: 17px;

}
.checkAnswerBtn{
    height: 54px;
    width: 200px;
    font-size: 16px;
background-color: white;
color: #38A3A5;

    border: 1px solid #38A3A5;
    border-radius: 27px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-top: 20px;
}
.checkAnswerBtn:hover{
    color: white;
    background: #38A3A5;
}
.seeimg{
    color: #22577A;
    font-size: 14px;
    font-family: poppins;
    font-weight: 400;
}
.seeimg:hover{
    cursor: pointer;
    opacity: 0.7;
}
.feedbackinput{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    font-size: 16px;
}
.skipThis{
    font-size: 16px;
    color: #38A3A5;
    margin-right: 20px;

}
.skipBtn{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #22577A;
    border: 1px solid #22577A;
    background: white;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 5px;
}
.skipBtn-Done{
    background: #22577A;
    color: white;
}
.skipBtn-Skip{
    background: #D48181;
    color: white;
}
.skipColaspeCard{
    position: absolute;
}
.skipThis:hover{
    opacity: 0.8;
    cursor: pointer;
}
.leadin{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 200;
}
.leadinImg{
    height: 170px;

}
.chooseCorrectAns{
    font-size: 16px;
    color: #22577A;
}
    .leftbtn{
        height: 33px;
    width: 33px;
    border-radius: 50%;
    background: #B9B9B9;
    border: none;
    color: white;
    }
    .leftbtn:hover{
        background-color: #22577A;
    }
    .leftbtn:focus{
        outline: none;
    }
    .arrowIcon{
        font-size: 20px;
        font-weight: 900;
    }
    .QuestionsHeading{
        font-size: 15px;
        color: #171717;
        margin-bottom: 0px;
    }
    .quicktest-hr{
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: 0px 0px 2px 1px #d1d1d1;
    }
    .quicktest-Text{
        font-size: 16px;
    }

    .tooltipp {
        position: relative;
        display: inline-block;
      }
      
      .tooltipp .tooltipptext {
        visibility: hidden;
        width: 120px;
        background-color:#D0D538;
        color: #535353;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
      
        /* Position the tooltipp */
        position: absolute;
        bottom: -59px;
        left: -249px;
        width: 254px;
        z-index: 1;
      }
      
      .tooltipp:hover .tooltipptext {
        visibility: visible;
      }

      .collapsebtn{
        width: 100%;
        background: #EEEEEE;
        height: 48px;
        text-align: left;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins';
        border: none;
        padding-left: 20px;
        margin-top: 20px;

      }
      .collapsebtn:focus{
          outline: none;
      }
      .radioLabel{
        font-size: 15px;
        color: #535353;
        margin-left: 10px;
        margin-bottom: 0px;
      }
      .radioInput{
          margin: 0px;
          height: 11px;
      }
      .refernceText{
          font-size: 13px;
      }
      .refernceLink{
          color: #4B7BFF;
          font-size: 13px;
      }
      .explaination{
          font-size: 16px;
          color: #171717;
      }
      .explainationDiv{
          background: #BFE7C4;
          padding: 20px;
          border-radius: 7px;
      }
      .quicktest-Btn{
        border: 2px solid #38A3A5;
        background-color: #fff;
        color: #38A3A5;
        height: 53px;
        width: 49%;
        margin-right: 15px;
        border-radius: 36px;
        font-size: 16px;
        font-weight: 700;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .quicktest-Btn:hover{
          background-color: #38A3A5;
          color: white;
      }
      .quicktest-Btn:focus{
        background-color: #26c2c5;
        color: white;
      }
}


.vertical_center{
    margin-top: auto;
    margin-bottom: auto;
}
@media (max-width: 576px) {
    .quicktest-container {
        padding: 40px 0px;
    }
    .headerContainerTest{
        display: none;
    }
    .quicktest-container .tooltipp .tooltipptext {
        left: -100px;
    }
    .card-body {
        font-size: 14px;
    }
    .quicktest-container .refernceText{
        margin-top: 15px;
    }
    .quicktest-container .quicktest-Btn {
        width: 70%;
    }
}