.result-container{
    padding: 50px;
}
.result-heading{
    font-size: 27px;
    color: #22577A;
    margin-top: 20px;
    margin-bottom: 40px;
}
.totalquestioncard{
    background-color: #22577A;
    color: white;
    padding: 44px;
    height: 200px;
    border-radius: 25px;
    cursor: pointer;
}
.wronganswercard{
    background-color:#D48181;
    color: white;
    padding: 44px;
    height: 200px;
    border-radius: 25px;
    cursor: pointer;

}
.correctanswercard{
    background-color: #82AC66;
    color: white;
    padding: 44px;
    height: 200px;
    border-radius: 25px;
    cursor: pointer;

}
.totalquestioncardAmount{
font-size: 47px;
}
.totalquestioncardText{
    font-size: 21px;
    
}
.back-to-home{
    border: 2px solid #38A3A5;
    background-color: #fff;
    color: #38A3A5;
    height: 53px;
    width: 30%;
    margin-right: 15px;
    border-radius: 36px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .back-to-home:hover{
      background-color: #38A3A5;
      color: white;
  }
  .back-to-home:focus{
    background-color: #26c2c5;
    color: white;
  }
  .exit-text{
      color: #D48181;
      font-size: 16px;
  }
  .exit-text:hover{
      cursor: pointer;
      opacity: 0.9;
  }

  @media (max-width: 576px) {
    .result-container {
        padding: 20px 0px;
    }
    .totalquestioncard{
        margin: 10px;
    }
    .correctanswercard{
        margin: 10px;
    }
    .wronganswercard{
        margin: 10px;
    }
    .back-to-home{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  }
