.Testselection-container{
    background: #F9F9F9;
    padding: 25px;
    .testCard{
        background-color: white;
        padding: 40px;
        text-align: center;
        height: 485px;

    }
    .heading{
        font-size: 28px;
        color: #38A3A5;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .text{
        font-size: 16px;
        color: #9F9F9F;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .quicktestbtn{
        margin-top: 70px;
        height: 41px;
        font-size: 16px;
        background: white;
        border: 1px solid #38A3A5;
        color: #38A3A5;
        width: 250px;
        border-radius: 31px;
        position: absolute;
    bottom: 35px;
    text-align: center;
    left: calc(50% - 125px);
    }
    .quicktestbtn:hover{
        background-color: #38A3A5;
        color: white;
    }
    .quicktestbtn:focus{
        outline: none;
        background-color: #2d7e80;
        color: white;
    }
    .learningModeHeading{
        font-size: 28px;
        color: #22577A;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .learningModetext{
        font-size: 16px;
        color: #9F9F9F;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .learningModebtn{
        margin-top: 70px;
        height: 41px;
        font-size: 16px;
        background: white;
        border: 1px solid #22577A;
        color: #22577A;
        width: 250px;
        border-radius: 31px;
        position: absolute;
    bottom: 35px;
    text-align: center;
    left: calc(50% - 125px);
    }
    .learningModebtn:hover{
        background-color: #22577A;
        color: white;
    }
    .learningModebtn:focus{
        outline: none;
        background-color: #105a8b;
        color: white;
    }


    .ResourseHeading{
        font-size: 28px;
        color: #52575D;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .Resoursetext{
        font-size: 16px;
        color: #9F9F9F;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Resoursebtn{
        margin-top: 70px;
        height: 41px;
        font-size: 16px;
        background: white;
        border: 1px solid #52575D;
        color: #52575D;
        width: 250px;
        border-radius: 31px;
        position: absolute;
    bottom: 35px;
    text-align: center;
    left: calc(50% - 125px);
    }
    .Resoursebtn:hover{
        background-color: #52575D;
        color: white;
    }
    .Resoursebtn:focus{
        outline: none;
        background-color: #37383a;
        color: white;
    }
}

@media (max-width: 576px) {

.Testselection-container {
    background: #F9F9F9;
    padding: 10px;
}
.Testselection-container .testCard {
 
    margin-top: 10px;
    margin-bottom: 10px;
}
}